@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman

@{
    ViewBag.Title = "DepartmanGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>DepartmanGuncelle</h2>
<br />


<form class="form-group" method="post">
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmanAd)
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmanId)
    </div>
    <br />
    <button class="btn btn-primary">Güncelle</button>
    
</form>