@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel> 

@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay</h2>
<br />

<div class="bg-secondary text-white">Departman Adı : @ViewBag.DepartmanAd</div>
<br />

<table class="table table-bordered">
    <tr>
        <th>AD</th>
        <th>SOYAD</th>
        <th></th>
    </tr>

@foreach (var p in Model)
{
    <tr>
        <td>@p.PersonelAd</td>
        <td>@p.PersonelSoyad</td>
        <td><a href="/Departman/DepartmanPersonelSatis/@p.PersonelId" class="btn btn-dark">Satışlar</a></td>
    </tr>
}
    

</table>


